.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.board {
  background-color: green;
  width: 760px;
  height: 760px;
}

.card {
  display: inline-block;
  border-radius: 2%;
  box-shadow: 0 0 0.4em #000;
  position: relative;
  font-family: fantasy;
  width: 18%;
  height: 24%;
  background-color: #fff;
  text-align: center;
}

.card-before,
.card-after {
  position: absolute;
}

.card-before {
  top: 0;
  left: 0;
  padding: 8% 0 0 4%;
}

.card-after {
  bottom: 0;
  right: 0;
  padding: 0 4% 8% 0;
}

.card-before::before,
.card-before::after,
.card-after::before,
.card-after::after {
  position: relative;
  display: block;
  font-size: 1.4em;
}

.card-before::before {
  margin-top: -24%;
}

.card-before::after {
  margin-top: -48%;
}

.card-after::before {
  margin-bottom: -48%;
}

.card-after::after {
  margin-bottom: -48%;
}

.card--heart,
.card--diamond {
  color: #FF5722;
}

.card--clover,
.card--spade {
  color: #212121;
}

.card--heart > .card-before::after,
.card--heart > .card-after::after,
.card--heart > .card-symbol::before {
  content: "♥";
}

.card--diamond > .card-before::after,
.card--diamond > .card-after::after,
.card--diamond > .card-symbol::before {
  content: "♦";
}

.card--clover > .card-before::after,
.card--clover > .card-after::after,
.card--clover > .card-symbol::before {
  content: "♣";
}

.card--spade > .card-before::after,
.card--spade > .card-after::after,
.card--spade > .card-symbol::before {
  content: "♠";
}

.card-symbol {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
}

.card-symbol::before {
  display: block;
  margin-top: 36%;
}

.card--1 > .card-before::before,
.card--1 > .card-after::before {
  content: "A"
}

.card--2 > .card-before::before,
.card--2 > .card-after::before {
  content: "2"
}

.card--3 > .card-before::before,
.card--3 > .card-after::before {
  content: "3"
}

.card--4 > .card-before::before,
.card--4 > .card-after::before {
  content: "4"
}

.card--5 > .card-before::before,
.card--5 > .card-after::before {
  content: "5"
}

.card--6 > .card-before::before,
.card--6 > .card-after::before {
  content: "6"
}

.card--7 > .card-before::before,
.card--7 > .card-after::before {
  content: "7"
}

.card--8 > .card-before::before,
.card--8 > .card-after::before {
  content: "8"
}

.card--9 > .card-before::before,
.card--9 > .card-after::before {
  content: "9"
}

.card--10 > .card-before::before,
.card--10 > .card-after::before {
  content: "10"
}

.card--11 > .card-before::before,
.card--11 > .card-after::before {
  content: "J"
}

.card--12 > .card-before::before,
.card--12 > .card-after::before {
  content: "Q"
}

.card--13 > .card-before::before,
.card--13 > .card-after::before {
  content: "K"
}
